---
title: bpy.ops.context
layout: default
---

# bpy.ops Python API documentation

Repository - <https://github.com/Andrej730/bpy.ops.context>

{{#ops}}
<h3 id="{{op_name}}"><code>{{op_name}}</code></h3>

{{op_description}}
{{/ops}}
